* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#welcome-section {
    position: relative; 
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#welcome-section::before {
    content: "";
      background-image: url('https://www.oliverwyman.com/content/dam/oliver-wyman/global/en/images/insights/retail-consumer-products/2019/9_1600x602china.jpg.imgix.banner.jpg');
      background-size: cover;
      position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      opacity: 0.75;
}

.promo{
    position: relative;
    color: black;  
    font-size: 3rem;
    line-height: 0.9;
    text-align: center;
  }